.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.router {
  overflow: auto;
}

html,
body,
#root,
.router {
  height: 100%;
}

.navbar {
  display: flex;
  flex-flow: row;
  background-color: yellowgreen;
  width: 100%;
  height: 50px;
}

.navbarButton {
  width: 130px;
  height: 100%;
  font-weight: bold;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarButton-visited {
  background-color: rgb(117, 158, 34);
  width: 130px;
  height: 100%;
  font-weight: bold;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarButton-visited:hover,
.navbarButton:hover {
  background-color: rgb(117, 158, 34);
  ;
}

.navbar>a {
  text-decoration: none;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .show-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .hide-on-desktop {
    display: none;
  }
}